/* Wrapper for the file input */
.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Button for the file input */
.file-input-button {
    border: 2px solid #ccc;
    color: white;
    background-color: #007bff;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; /* Fixed width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
}

.file-input-button:hover {
    background-color: #0056b3;
}

/* Hidden file input */
.file-input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

/* Label for the file input */
.file-input-label {
    display: inline-block;
    margin-left: 10px;
}

/* Style for the input and button */
.file-input-button, input {
    background: white;
    color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    height: 36px; /* Matching height for both input and button */
    padding: 0px 10px; /* Padding for internal space */
    font-size: 14px; /* Font size matching the text input */
    line-height: 1.5; /* Line height to vertically center text */
    border-radius: 5%; /* Rounded border to look like an input */
    text-align: center;
    border: 1px solid rgba(255, 165, 0, 0.3) !important;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
    .file-input-button, input {
        width: 100%;
    }
    #emblema {
        width: 100%;
    }

}
.btbt{
    background-color:  rgb(255, 165, 0,.5) !important;
    border: none !important;
    border-radius: 5% !important;
    }
.btbt a:hover{
  color: rgb(36, 5, 5) !important;
  transform: scale(1.05);
  margin-top: 5% !important;

}

.btbt:hover{
    transform: scale(1.05);
  }
.btbt a {
    color: white !important;
    text-decoration: none !important;

}

/* Extra */

td, tr, table, th {
    border: 1px solid !important;
  }
  table{
    width: 100%;
  }

  #btbt{
      background-color:  rgb(255, 165, 0,.5) !important;
      border: none !important;
      }

  @media (min-width: 601px){
      #btbt{
          background-color:  rgb(255, 165, 0,.5) !important;
          /* border: none !important; */
          margin-right: -90% !important;
          margin-top: -1% !important;
          width: 12%;
          }

  }

  #btbt:hover{
    color: rgb(36, 5, 5);
    background-color:  rgb(255, 165, 0,.5) !important;
    transform: scale(1.05);
  }
  table{
    align-content: center;
  }
  .elementosFormularios {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 600px) {
    #btbt {
        /* position: absolute; */
        margin-right: -70% !important;
        /* top: 0; Opcional: se quiser posicionar também no topo */
        margin-bottom: 1% !important;
    }
    .input2{
      margin-top: 0% !important;
      margin-bottom: 0% !important;
    }

    }

    /* Certifique-se de que o contêiner pai tem posição relativa */
    .container {
        position: relative;
    }

.tituloformulario {
  background-color: rgba(223, 219, 214, 0.5) !important;
  margin-top:0;
  padding-top:0%;
  font-weight:bolder;
}



.select2-container .select2-selection--single {
    height: 38px; /* Ajuste a altura conforme necessário */
    border: 1px solid #ced4da; /* Borda padrão para combinar com outros inputs */
    border-radius: 4px;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    transition: border-color 0.3s;
    padding-left: 12px; /* Adiciona padding esquerdo para alinhar com outros inputs */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0; /* Remove padding adicional */
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 100%;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px; /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
  }
  .select2-container--focus .select2-selection {
    border-color:  rgba(247, 207, 134, 0.5) ; /* Cor da borda quando em foco */
  }
  input:focus, select:focus, .select2-selection:focus {
    border-color:  rgba(247, 207, 134, 0.5); /* Cor da borda quando em foco para inputs e selects normais */
    outline: none; /* Remove o outline padrão */
  }


  .form-select,
.form-control {
  border: 1px solid  rgba(247, 207, 134, 0.5)  !important;
  box-shadow: none !important;
}
.form-select:focus,
.form-control:focus {
  border: 1px solid  rgba(247, 207, 134, 0.5) !important;
  box-shadow: none !important;
  outline: none !important;
}
.select2-container .select2-selection--single {
  height: 38px; /* Ajuste a altura conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
  border: 1px solid  rgba(247, 207, 134, 0.5)  !important;
  box-shadow: none !important;
  padding-left: 0; /* Remove padding */
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0; /* Remove padding adicional */
  text-align: center; /* Centraliza o texto horizontalmente */
  width: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px; /* Ajuste a altura conforme necessário */
  display: flex;
  align-items: center;
}
.select2-container--focus .select2-selection {
  border: 1px solid  rgba(247, 207, 134, 0.5) black !important;
  box-shadow: none !important;
}
input:focus, select:focus, .select2-selection:focus {
  border: 1px solid  rgba(247, 207, 134, 0.5)  !important; /* Borda preta quando em foco */
  outline: none !important; /* Remove o outline padrão */
}
