


.btn-check:checked+.btn, :not(.btn-check)+.btn:active, .btn:first-child:active, .btn.active, .btn.show,.btn-toggle:hover, .btn-toggle:focus{
    background-color: rgb(255, 165, 0,.5) !important;
    color: #fff !important
}
.venus-sidebar>.list-unstyled .collapse li.submenu{
    margin-left: 10px;
}

.btn-toggle-nav a:hover, .btn-toggle-nav a:focus{
    background-color: rgb(255, 165, 0,.5) !important;
}
venus-sidebar .venus-title{
  font-size: 19px !important;
}
*{
  font-size: 18px !important;
}
a span, .flex-nowrap a{
  font-size: 15px !important;
}

#form1{
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
    background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


td, tr, table, th {
  border: 1px solid !important;
}
table{
  width: 100%;
}

